:root {
    --bg-color-base: #F9F9F9;
    --bg-color-light:#FEFEFE;
    --bg-color-dark: #F1F1F1;

    --text-color-base: #545454;
    --text-color-light: #A09F9F;
    --text-color-dark:#434343;

    --success: #34D399;
    --danger: #F87171;
}
