.dark-theme {
    --bg-color-base: #252952;
    --bg-color-light: #1F2245;
    --bg-color-dark: #191D44;   

    --text-color-base: #535996;
    --text-color-light: #9EA1CE;
    --text-color-dark: #373C76;
}