
.dark-theme {
    --bg-color-base: #0B1243;
    --bg-color-light: #171E5C;
    --bg-color-dark: #050934;   

    --text-color-base: #525AA5;
    --text-color-light: #B3B1C9;
    --text-color-dark: #444B97;
}